*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --primary-color:#0A101C;
    --secondary-color:#00BDFF;
    --text-color:#BEBEBE;
    --accent-color:#FFFFFF;
    --border-color:#222222;
    --font-family-Roboto:"Roboto", sans-serif;
    --font-family-instrument:"Instrument Sans", serif;


}

h1 ,h2 ,h3 ,h4, h5{
  color:var(--accent-color);
  text-align: center;
}
h1{
    font:500 96px var(--font-family-instrument);
   
}
h2{
    font:500 72px var(--font-family-instrument);
   
}
h3{
    font:700 72px var(--font-family-instrument);
  
}
h4{
    font:700 34px var(--font-family-instrument);
}

h5{
    font:600 64px var(--font-family-instrument);
}
h6{
    font:500 32px var(--font-family-instrument);
    color:var(--accent-color);
    
}
p{
    font:400 24px var(--font-family-Roboto);
    color:var(--text-color);
    text-align: center;
}

.container{
  max-width: 1600px;
  margin:0 auto;

 
}
body{
  background-color: var(--primary-color);
}
.d-flex{
  display: flex;
}
.btn {
  padding: 10px 30px;
  border: 2px solid #00BDFF;
 
  text-decoration: none;
  border-radius: 25px;
  color:var(--accent-color);
 
}
.btn:hover {
  background: linear-gradient(258deg, #8800FF 27.99%, #00BDFF 57.37%);
  transition: 0.4s all ease;
}