.section-wrapper{
  height:auto;
  margin-bottom: 80px;
  position: relative;
  overflow: hidden;
}
.subheading {
  border-radius: 50px; 
  padding: 10px 80px;
  text-align: center;
  position: relative;
  background-color: var(--primary-color); 
  margin-top: 2px;
}

.subheading::before {
  content: '';
  position: absolute;
  top: -1px; 
  left: -1px; 
  bottom: -1px;
  right: -1px;
  border-radius: 50px;
  background:  linear-gradient(91.66deg, #00BDFF -2.97%, #2A378F 103.23%);
  z-index: -1;
}
.box{
  background:linear-gradient(178.34deg, rgba(102, 102, 102, 0.16) 1.76%, rgba(0, 0, 0, 0.16) 98.95%); 
  border:1px solid #282828;
  border-radius: 20px;
  padding: 20px;
  flex-basis:30%;
  height:230px; 
  text-align: left; 
  transition: transform 0.3s ease;
  
 
}
.box2{
    flex-basis: 43.33%;
    height:160px;
    border-radius: 10px;
    padding:20px;
    border:2px solid var(--secondary-color);
    text-align: left;
}

.icon {
  background-color: #00baff; 
  width: 60px;
  height: 60px;
 
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
 
  margin-bottom: 15px;
}
.icons{
  width:30px;
  height:30px;
}
.logo{
    display:flex;
    align-items: center;
    justify-content: center;
    margin:25px auto;
}

.content{
   
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:30px;
    margin:0 300px;
}

.span-blue{
 
   background: linear-gradient(258deg, #8800FF 27.99%, #00BDFF 57.37%);
   background-clip: text; 
   -webkit-text-fill-color: transparent; 

   
 

}


.button{
  margin:20px 0px;
}
.button a{
    font: 500 24px --font-family-instrument;
}
.video-container {
  position: relative;
  max-width: 90%;
  margin:0 auto;
  cursor: pointer;
}


video {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px; 
  margin:0 auto;
  border:3px solid var(--secondary-color);
  opacity: 0.5;
}


.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.play-button-icon{
  font-size: 50px;
  filter: brightness(0) invert(1);
 
  
  
 

}
.flex-container {
  flex-wrap: wrap;
  justify-content: center; 
  gap: 15px; 
  padding: 20px;
  margin:20px auto;
}
.box p{
  
  padding-top: 20px;
  text-align: left;
 
}
.box2 p{
  
  text-align: left;
  padding-top: 20px;
 
}


.content2{
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap:30px;
}
.lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 1.5s all ease;
  opacity: 1;
  z-index:-1;
}
.line-container {
  position: relative;
  width: 100%;
  height: 3px;
  background: rgba(255, 255, 255, 0.07);
  margin-bottom: 5px;
}
.animated-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  z-index: 1;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
  animation: moveLine 3s linear infinite ;

}
.animated .lines {
  opacity: 1;
 }
  @keyframes moveLine {
      0% { 
          left: 0;
      }
      100% { 
          left: 100%; 
      }
   } 
.line-container:nth-child(1) {
  position:absolute;
  transform: rotate(90deg);
  top:21%;
  left:0;
}
.line-container:nth-child(2) {
  position:absolute;
  top: 0%;
  left: 4.5%;
  transform: rotate(75deg);
}
.line-container:nth-child(3) {
  position:absolute;
  top: 0%;
  transform: rotate(105deg);
  right:4.5%;
}
.line-container:nth-child(4) {
  position:absolute;
  transform: rotate(60deg);
  top: 0%;
  left:9.5%;
}
.line-container:nth-child(5) {
  position:absolute;
  transform: rotate(125deg);
  top:0;
  right:17.5%;
}
.line-container:nth-child(6) {
  position:absolute;
  transform: rotate(45deg);
  left:15.8%;
  top:0;
}
.line-container:nth-child(7) {
  position:absolute;
  transform: rotate(135deg);
  right:26.8%;
  top:0;
}
.line-container:nth-child(8) {
  position:absolute;
  transform: rotate(30deg);
  left:25%;
  top:0;

}
.line-container:nth-child(9) {
  position:absolute;
  transform: rotate(113deg);
  top: 0;
  right:10%;
}

.onboarding-part{
  flex:1;
   flex-direction: column;
   gap:20px;
   position: relative;
}
.onboarding-part::before{
  content: '';
  position: absolute;
  border: 2px dashed #34373B9C;
  top: 6%;
  bottom: 7%;
  left: -5%;
  margin-left: -3px;
 
}


.element1:before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color:#000000; 
  border:2px solid #262626;
  top: 9%;
  left: -32px; 
  transform: translateY(-50%); 
  z-index: 1;
}
.element2:before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color:#000000; 
  border:2px solid #262626;
  top: 37%;
  left: -32px; 
  transform: translateY(-50%); 
  z-index: 1;
}
.element3:before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color:#000000; 
  border:2px solid #262626;
  top: 63%;
  left: -32px; 
  transform: translateY(-50%); 
  z-index: 1;
}
.element4:before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color:#000000; 
  border:2px solid #262626;
  top: 90%;
  left: -32px; 
  transform: translateY(-50%); 
  z-index: 1;
}

.consultation-part{
   flex:1;
   display: flex;
   flex-direction: column;
   gap: 20px;
}
.how-it-works{
     justify-content: center;
     align-items: flex-start;
    
     margin:50px 120px;
}


.element{
   width:380px;
   padding:15px 20px;
   border:2px solid #262626;
   background: #00000021;
   border-radius: 10px;
  

}
.element:hover{
   background: linear-gradient(92.14deg, #00BDFF -16.62%, #8800FF 98.02%);
   cursor:pointer;
  
}

.element:hover p{
  font-weight: bold;
  color:var(--accent-color);
  
}   

.consultation{
   
   gap: 10px;
   align-items: center;
  
}
.consultation h4{
  text-align: left;
}
.work-content {
  display: flex;
  gap: 20px;
}

.work-content .number {
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: var(--primary-color); 
}
.work-content .number::before{
  content: '';
  position: absolute;
  top: -1px; 
  left: -1px; 
  bottom: -1px;
  right: -1px;
  border-radius: 50px;
  background: linear-gradient(355.66deg, #9A0FDF -22.64%, #0F64DF 96.47%);
  z-index: -1;
}

.work-content .text {
  flex: 1;
  flex-direction: column;
  display: flex;
  gap:10px;
  
}

.work-content .text h4 {
 
  text-align: left;
}

.work-content .text p {
  text-align: left;
}
.bottom-line h6{
  font-size: 40px;
  text-align: center;
}
.bottom-line {
 margin:70px 150px;
 margin-bottom: 0;
}
.sales{
   height:200px;
   border-radius: 10px;
   background-color:#00000021; 
   border:2px solid #262626;
   padding:50px 20px;
   
   flex-basis: 40%;
}
.sales:hover{
   background: linear-gradient(180.11deg, #1B2C4A 0.09%, #0F64DF 210.44%);
   cursor: pointer;
}
.sales-flex{
   display:flex;
   flex-wrap: wrap;
  justify-content: center;
  gap:60px;
  margin:85px 50px;
  margin-bottom: 0;
}
.sales h4{
  font-size:40px;
  text-align: left;
  margin-bottom: 15px;
}
.sales p{
  text-align: left;
}
.Future-sales h5{
    margin-bottom: 40px;
}
.content6{
  display: flex;
  flex-direction: column;
  gap:50px;
  margin:0px 50px;
}
.data{
   flex-basis:30%;
   height:250px;
   background-color:#00000021;
   border:2px solid #222222;
   border-radius: 10px;
   text-align: center;
   padding:30px 10px;  
  


}
.flex-data{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap:20px;
}
.data2{
  flex-basis:46%;
}
.content h5{
  margin:0px 100px;
}
.img-container{
   margin-bottom: 20px;
}


.carousel {
  position: relative;
  text-align: center;
 
}

.carousel-items {
  display: flex;
  overflow: hidden;
  position: relative;
  justify-content: center;
  align-items: center;
  gap:30px;
  transition: transform 0.5s ease-in-out;
  color:var(--accent-color);
  height:40vh;
}

.carousel-item {
  flex-basis:25%;
  height:200px;
  transform: scale(0.9);
  border:2px solid #282828;
  border-radius: 10px;
  background-color:#00000021;
  text-align: left;
  padding:40px 20px;
  transition: opacity 0.5s, transform 0.5s, box-shadow 0.5s;
  box-shadow: none; 
 
}
.carousel-item:nth-child(2){
   flex-basis: 33%;
   height:35vh;
   padding:60px 40px;
   
}
.carousel-item.active {
  
  transform: scale(1);
  border-color: #2A378F;
  box-shadow: 0px 4px 40px 0px #0F64DF40;

  
}

.carousel-indicators {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 50px;
 
}

.indicator {
  width: 10px;
  height: 10px;
  background-color: var(--accent-color);
  border-radius: 50%;
  cursor: pointer;
}

.indicator.active {
  background-color: #0ea5e9;
  width: 12px;
  height: 12px;
}
.heading8{
   margin:50px 40px;
}
.carousel-item h6{
  color:var(--secondary-color);
  margin-bottom: 20px;
}
.carousel-item p{
      text-align: left;
    
}
.carousel-item:nth-child(2) p{
  line-height: 30px;
}
.data p{
  display:none;
  font-size:25px;
}
.data:hover img{
  display: none;
}
.data:hover p{
    display:block;
    margin-top: 20px;
}
/* .data:hover h5 {
  transform: translateY(-50px);
} */
@media (max-width: 1900px){
    .container{
        max-width: 1600px;
    }
   
}
@media (max-width: 1440px){
    .container{
        max-width: 1200px;
    }
    .logo img{
        width:220px;
        height: 100px;
        
    }
    h1{
      font-size: 70px;
       
    }
    h2{
      font-size:37px;
      
  }
  h3{
    font-size:53px;
  }
  h4{
    font-size: 20px;
  }
  h5{
    font-size:45px;
  }
    p{
      font-size:18px;
     
  }
  .para{
    font-size: 18px;
  }
  h6{
    font-size: 22px;
   
    
}
.sales h4{
  font-size:30px;
}
.button a{
  font-size:  20px;
}

.bottom-line h6{
  font-size: 28px;
}
.content6 h5{
  margin:0px 182px;
}

}
@media (max-width: 1024px) {
    .container{
        max-width: 940px;
    }
    h1{
      font-size: 68px;
       
    }
    h3{
      font-size:40px;
    }
    p{
      font-size:18px;
    
    }
    h6{
      font-size: 20px;
    }
    .content{
   
      margin:0 100px;
  }
  .para{
    font-size: 14px;
  }
  .subheading {
    padding:10px 40px;

 }
 .how-it-works{
  
  margin:50px 69px;
}
.sales h4{
  font-size:16px;
}
.content6 h5{
  font-size: 34px;
  margin:0px 50px;
}   
}
@media (max-width: 768px){
    .container{
        max-width: 640px;
    }
    .section-wrapper{
      margin-bottom: 40px;
    }
    h1{
      font-size: 55px;
    }
    h2{
      font-size:30px;
      
  }
  h3{
    font-size:30px;
    
  }
  h4{
    font-size: 15px;
  }
  h5{
    font-size: 35px;
  }
    p{
      font-size:15px;
    
    }
    h6{
      font-size: 16px;
    }
    .content{
   
      margin:0 50px;
  }
  .para{
    font-size: 14px;
  }
  
  .subheading {
     padding:10px 30px;

 }

.box{
    flex-basis: 48%;
    height:200px;
}
.box2{
  flex-basis:45%;
  height:150px;
 
}
.box2 p{
  padding-top:30px;
}
.button a{
  font-size: 18px;
}
.how-it-works{
  flex-direction: column;
  gap:40px;
}
.bottom-line{
   margin:70px 25px;
   margin-bottom: 0;
}
.bottom-line h6{
  font-size: 16px;
 
}
.onboarding-part{
  margin-left: 137px;

}
.element{
  width:250px;
}
.onboarding-part::before{
  left: -9%;
  
 
}
.sales h4 {
  font-size: 15px;
}
.data{
  flex-basis: 45%;
}
.content6 h5{
  font-size:34px ;
  margin:0;
}  
.heading8{
   font-size: 28px;
}
}
@media (max-width: 576px){
    .container{
        max-width: 400px;
    }
    h1{
      font-size: 30px;
    }
    h2{
      font-size:20px;
      
  }
  h3{
    font-size:16px;
    
 }
 h5{
  font-size:18px;
 }
    p{
      font-size:10px;
    
    }
    h6{
      font-size: 10px;
    }
  .subheading {
    padding:10px 20px;

 }

.para{
  font-size: 8px;
}
.bottom-line h6{
  font-size: 11px;
  
}
.sales h4{
  font-size:12px;
}
.sales-flex {
  
  gap:30px;
  margin: 45px 30px;
 
}
.sales{
  flex-basis: 100%;
  height: 150px;
}
.Future-sales h5 {
  font-size:20px;
  margin-bottom: 20px;
}
.data{
  flex-basis: 100%;
}
.content6 h5{
  font-size:18px;
  margin:0px 0px;
}   
.onboarding-part{
  margin-left: 5px;

}
.consultation-part{
  margin-left: -20px;

}
.img-container img{
  width:100px;
  height:100px;
}
.heading8{
  font-size: 15px;
}
.bottom-line {
  margin: 10px 25px;
}
.box {
  flex-basis: 90%;
  height: 200px;
}
.box2{
  flex-basis:90%;
  height:120px;
 
}
}





   
   
   
 

